.experiments {

  .full-page;
  color: white;

  .header {
    text-align: left;
  }
  .padding {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
  }
  h4 {
    text-align: right;
  }
  .relative {max-width: 700px;}
  .name-box {
    padding: 10px;
    left: auto;
    right: 9px;
  }
}

@media (min-width: 700px) {
  .experiments .name-box {right: 29px;}
}

@media (min-width: 783px) {
  .experiments .name-box {
    width: 362px;
    left: 338px;
  }
  .relative {position: relative;}
}
