.home-desktop {
  .full-page {
    height: 100%;
    width: 100%;
  }

  .oko, .nav-page, .about, .case-studies, .contact {
    .full-page;
  }

  .oko {
    display: flex;
  }
  .oko-yellow, .oko-black {
    width: 50%;
    height: 100%;
  }
  .oko-yellow { .yellow }
  .oko-black { .black }

  .nav-page {
    background-color: #3957d2;
  }

  .about {
    background-color: #d23954;
  }

  .case-studies {
    background-color: #d29e39;
  }

  .contact {
    background-color: rgb(237, 193, 55);
  }

}
