.landing, .menu, .about {
  .full-page;
  position: relative;
}

.landing {
  // width: 100vw;
}

.split-screen {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border: 3px solid white;
    border-radius: 2px;
    width: 50%;
    max-width: 250px;
  }
  h1 {padding: 0 20px;}
}

.spacer {
  width: 100%;
  height: calc(~"100vh / 4");
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 25%;
    max-width: 100px;
  }
}


@media (min-width: 1000px) {
  .split-screen {
    width: 50%;
    height: 100%;
  }
}
