html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, sub, sup, ol, ul, li,
article, aside, details,
figure, figcaption, footer, header,
menu, nav, section, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

input:focus, textarea:focus {
	outline: none;
}
button:active, button:focus {
	outline: none;
	border: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
  text-decoration: none;
  color: inherit;
}
